# ExchangeRate-API Key
# Get one at https://www.exchangerate-api.com/
VITE_EXCHANGE_RATE_API_KEY=YOUR_API_KEY

# Toggle mock data mode (true/false)
# If true, or if VITE_EXCHANGE_RATE_API_KEY is missing/default, mock data will be used.
VITE_USE_MOCK_DATA=false
